<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
        <!-- executionTimeout is in seconds -->
        <httpRuntime executionTimeout="1200" /> 
    </system.web>

    <system.webServer>
        <handlers accessPolicy="Read, Execute, Script">
            <add name="notary_FastCGI" path="*" verb="*" modules="FastCgiModule" 
                 scriptProcessor="F:\IISsites\notary_vir_env\Scripts\python.exe|F:\IISsites\notary_vir_env\Lib\site-packages\wfastcgi.py" 
                 resourceType="Unspecified" requireAccess="Script" />
        </handlers>

        <httpErrors errorMode="Detailed" />

        <fastCgi>
            <application processPath="C:\Users\leaflet_qa_delhi\AppData\Local\Programs\Python\Python311\python.exe">
                <!-- Increase both timeouts -->
                <activityTimeout value="1200" /> 
                <requestTimeout value="1200" /> 
            </application>
        </fastCgi>
    </system.webServer>

    <appSettings>
       <add key="WSGI_HANDLER" value="notary_app.app" />
       <add key="PYTHONPATH" value="F:\IISsites\PythonSP\notary_source" />
    </appSettings>
</configuration>
